.projects__subtitle {
  text-align: center;
  font-size: 1.1rem;
  color: var(--clr-fg);
  margin-top: -2em;
  margin-bottom: 3em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.projects__grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 2.5em;
}

@media (max-width: 600px) {
  .projects__grid {
    grid-template-columns: 1fr;
    gap: 2em;
  }
  
  .projects__subtitle {
    font-size: 1rem;
    margin-top: -1.5em;
    margin-bottom: 2em;
  }
}
